@import url("./Animations.css");

/*=============================================
=             Section  Background             =
=============================================*/

#abtme-bg {
  /* Background gradient */
  background-image: radial-gradient(#ffffff 0.5px, rgb(200, 178, 154) 0.5px);
  background-size: max(10px, 5px) 10px;
  height: 80vh;
  width: 100vw;
  padding: 8rem;
  text-align: center;
  border: none;

  /* Center the card within the bg */
  display: flex;
  justify-content: center; /* centers the card horizontally (flex) */
  align-items: center; /* centers the card vertically (flex) */
}

/*=============================================
=                'About Me' Card              =
=============================================*/

/* Actual card itself */
#abtme-card {
  background-color: transparent;
  opacity: 0.7 !important;
  color: black;

  padding: 1rem;
  width: 85vw;
  height: 80vh;
  font-size: 1.3vw;
  text-align: left;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Set a specific width for smaller viewports using a media query */
  @media (max-width: 1200px) {
    width: 80%; /* Set a specific width for smaller viewports */
    font-size: 0.75rem;
  }
}

/* Title within the About Me Card */
#abtme-title {
  padding-bottom: 0px !important;
  /* animation: shudder 4s ease infinite; */
  font-size: max(4vw, 1.5rem);
  font-weight: 600;
  color: rgb(105, 35, 35);
}

/*=============================================
=           Profile Image Card                =
=============================================*/

/* Div that wraps my profile image */
#abtme-img-square-div {
  position: absolute;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  overflow: hidden; /* Hides the cropped part of the image */
  border-radius: 50%;
  box-shadow: 0.4rem 0.4rem black;
}

/* Actual Profile Image */
#abtme-img {
  /* Center my face within the img-div */
  width: 100%;
  transform: translate(0%, -10%);
}
