.contact-card {
    align-items: center;
    background-color: black;
}

.contact-div {
    display: flex;
    justify-content: center;
}

.contact-btn {
    padding: 1rem !important;
    margin: 1rem !important;
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 5px 15px 0px rgba(56, 101, 62, 0.95) !important;
    transform: translatey(0px);
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(56, 101, 62, 0.95);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(56, 101, 62, 0.97);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(56, 101, 62, 1.2);
      transform: translatey(0px);
    }
  }
  