@import url("./Animations.css");

.contact-card {
  align-items: center;
}

#contact-div {
  display: flex;
  justify-content: center;
}

.contact-btn {
  /* center the image within the button */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  animation: float 6s ease-in-out infinite;
  box-shadow: 0 5px 15px 0px rgba(29, 10, 10, 0.95) !important;
  border-radius: 50% !important;
  margin: 1rem !important;
  padding: 1rem !important;
  width: max(5vw, 3rem);
  height: max(5vw, 3rem);
}

.contact-btn-image {
  width: max(2vw, 1rem);
}
